// main scss file, partials are imported here
@import "config"; // importing the partial "_config.scss" with all the vars and mixin (functions)
@import "menu";
// mobile is moved to the bottom so it loads after all the css
// @import "mobile";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  //   color: #fff;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; // space between lines
}

// ==== Headings ====
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; // make it skinnier

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; // top-bottom left-right
    background: rgba(
      lighten($primary-color, 2),
      0.5
    ); // lighten takes in 2 params the color and the amount, we then wrap it in the rgba to give it an opacity
  }
}

a {
  color: #fff;
  text-decoration: none;
}

// header is the button - stay at the top
header {
  position: fixed;
  z-index: 2; // so it is always up front z-index how close to you the element is, the bigger the number, the closer it is
  width: 100%; // let it strech across the screen
}

//span from index.html and h3 from about.html
.text-secondary {
  color: $secondary-color;
  //   font-size: 6rem; // 6rem != my name is too big :P
}
// change it from the h3.about.html *****************

// all other content not header btn
main {
  padding: 4rem;
  //   height: 100%;
  // for the footer fo calc in the element before it
  // set sticky footer, 100vh - the height of the footer
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut(); // calling the easeOut function (mixin) from the top
      }
    }
  }

  // any main that has the id of home
  &#home {
    overflow: hidden; // no scrollbars
    h1 {
      margin-top: 20vh; // the h1 inside the main tag with the id of home
    }
  }
}

// ======== ABOUT PAGE ========
.about-info {
  display: grid; // tell the div to become a grid
  grid-gap: 30px;
  // next create visual representation
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  // define it
  grid-template-columns: 1fr 1fr 1fr; // OR repeat(3, 1fr);

  // defining the grid areas
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: 5px solid $secondary-color;
    border-radius: 10px;
  }
}

// ========= PROJECTS PAGE / work.html ==========
.projects {
  display: grid;
  //   divide the grid
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px solid #fff;
    // border-radius: 10px;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// ========= contact.html ==========
// demo with flex display
.boxes {
  display: flex;
  flex-wrap: wrap; // multiline if small screen
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 0.5rem 1.5rem;
    margin-bottom: 3rem; // when the divs are stacked
    @include easeOut;

    &:hover {
      padding: 1.5rem 2.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// === button styles (work.html) ===
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
// extend class .btn to be used
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
